<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite"   parallel="tests">
<listeners>
<listener class-name="utilities.extentreportgenerator"></listener>
</listeners>
  <test thread-count="5" name="Test chrome">
  <parameter name="os" value="Linux"></parameter>
  <parameter name="browser" value="chrome"></parameter>
    <classes>
      <class name="testcase.tc__001"/>
    </classes>
  </test> <!-- Test -->
  
  
  
    <test thread-count="5" name="Test edge">
  <parameter name="os" value="Linux"></parameter>
  <parameter name="browser" value="edge"></parameter>
    <classes>
     <class name="testcase.tc__001"/>
     <class name="testcase.loginTestcase"></class>
    </classes>
  </test> <!-- Test -->
  
  
  
  

</suite> <!-- Suite -->
